.BuildControl {
  display: flex;
  justify-content: space-evenly;

  margin: 5px 0;
}
.BuildControl button {
  display: block;
  width: 80px;
  font: inherit;
  padding: 5px;
  border: 1px solid transparent;
  margin: 5px 0;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 1px solid #7e7365;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.BuildControl .Less {
  background-color: #9b8d86;
  color: black;
}

.BuildControl .More {
  background-color: #e6ab5d;
  color: black;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  color: #f7f3eb;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  color: #f7f3eb;
}
