.Order {
  width: 100%;
  border: 1px solide #ccc;
  box-shadow: 0 2px 3px #ccc;
  padding: 20px;
  margin: 10px auto;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .Order {
    padding: 30px;
  }
}
