.ContactData {
  margin: 20px auto;
  width: 50%;
  text-align: center;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  padding: 10px;
  box-sizing: border-box;
  background-color: #9fa933;
}

.Input {
  display: block;
}
@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}
